.container {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    position: relative;
    z-index: 100;
    background-color: white;
}
.superword {
    display: flex;
    width: 100%;
}
.chome {
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: 8px;
    grid-column: 1/13;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    max-width: 1100px;
    max-height: fit-content;
    border-top: 1px solid rgb(231, 231, 231);;
}

.chome a {
    text-decoration: none;
    color: black;
}
.chome a:hover {
    text-decoration: underline;
}
.chome img {
    width:250px;
    max-height:187.5px;
    border-radius: 8px;
    object-fit: cover;
}

div.wordstuff {
    margin-left: 3%;
    margin-right: 3%;
    max-width: 740px;
}

@media only screen and (max-width:605px) {
    .chome {
        flex-direction: column;
        max-height: none;
    }
    .wordstuff {
        width: fit-content;
    }
    .container {
        width: 70%;
    }
    .chome img {
        margin: auto;
        width: 100%;
        height: fit-content !important;
        max-height: none;
    }
    svg {
        height: 40px;
        width: 20px;
    }
    .circle {
        max-height: 100px;
    }
}

@media only screen and (max-width:400px) {
    .container {
        width: 100%;
        margin: auto;
    }
    .chome {
        margin: 0 auto;
        width: 80%;
    }
    .chome p {
        font-size: 15px;
    }
    .chome h1 {
        font-size:26px
    }
}