{% extends 'base.html' %}

{% block content %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}
<style> 

</style>
<script>
    
</script>
<div class="everything">
<div class="supercontain" >
<div class="contain">
    <div class="name">
        <a href="{{product.url}}"><h1>{{ product.title }}</h1></a>
        <img src="{{ product.icon.url }}" alt="Product Icon">
    </div>
    <div class="image"><img src="{{ product.image.url }}" alt="Product Image"></div>
    
    <div class="body">
        <div onmousedown='return false'class="circle"><div class="updiv"><svg class="svgvote" version="1.1" onclick="clickUp()"id="up" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="97.285px" height="97.285px" viewBox="0 0 97.285 97.285" style="enable-background:new 0 0 97.285 97.285;" xml:space="preserve">
       <g>
           <path d="M83.952,34.479L50.056,0.585c-0.781-0.781-2.047-0.781-2.828,0L13.333,34.479c-0.781,0.781-0.781,2.047,0,2.828l9.03,9.031
               c0.375,0.375,0.883,0.586,1.414,0.586c0.53,0,1.039-0.211,1.414-0.586l14.534-14.532v63.478c0,1.104,0.896,2,2,2H55.56
               c1.104,0,2-0.896,2-2V31.807l14.532,14.532c0.75,0.75,2.078,0.75,2.828,0l9.031-9.031c0.375-0.375,0.586-0.884,0.586-1.414
               C84.538,35.364,84.327,34.854,83.952,34.479z"/>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       </svg>
    </div>
      
        <p onclick='return false' onmousedown='return false' id='total'>{{product.votes_total}}</p>
        
        <?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg onclick="clickDown()"class="svgvote" version="1.1" id="down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <path d="M441.156,322.876l-48.666-47.386c-3.319-3.243-8.619-3.234-11.93,0.017l-81.894,80.299V8.533
                        c0-4.71-3.823-8.533-8.533-8.533h-68.267c-4.71,0-8.533,3.823-8.533,8.533v347.273l-81.894-80.299
                        c-3.311-3.243-8.602-3.251-11.921-0.017l-48.666,47.386c-1.655,1.604-2.586,3.806-2.586,6.11c0,2.304,0.939,4.506,2.586,6.11
                        l179.2,174.481c1.655,1.613,3.806,2.423,5.948,2.423c2.15,0,4.292-0.811,5.956-2.423l179.2-174.481
                        c1.647-1.604,2.577-3.806,2.577-6.11C443.733,326.682,442.803,324.48,441.156,322.876z"/>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
            
        </div>
            <div class="minbody"><div class="hunted"><h2> Hunted by {{product.hunter}}</h2></div>
            <div class="dates"><h2 id='dater' >{{product.pub_date}}</h2></div>
        <div class="textbody"><p>{{product.body}}</p></div>
    </div>
    </div>

<input id='showcom' type="button" value="Show Comments">
<div class="commenter">
    <form id='comments' action="{% url 'comment' product.id%}" method="POST">
        {% csrf_token %}
    <textarea name="comment" id="section" cols="30" rows="20" value=''></textarea>
    <input type="submit" value="Post">
</form>
<div id="commentsection">
</div>
</div>
</div>
</div>
<form name='upvote' id='upvote' method="POST" onsubmit='return post()' action="{% url 'upvote' product.id%}">
    <p id='csrf_token'>{% csrf_token %}</p>
    <input type="hidden" id='clickv' name='clickv' value=''>
</form>

<form id='downvoter' method="POST" action="{% url 'downvote' product.id%}">
    {% csrf_token %}
    <input type="hidden">
</form>
</div>
<script>


let commenter = document.querySelector('.commenter')
commenter.hidden = true



const tx = document.getElementsByTagName('textarea');
for (let i = 0; i < tx.length; i++) {
  tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;')
  tx[i].addEventListener("input", OnInput, false);
}

function OnInput() {
  this.style.height = '20px';
  this.style.height = (this.scrollHeight) + 'px';
  if (this.scrollHeight >= 60) {
      this.style.height = '60px'
  }
}
    
    let commentaction = document.getElementById('comments').getAttribute('action')
    let up = document.getElementById('up')
    
    function getCookie(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
 }  let totaler = 0 
    let form = document.getElementById('upvote')
    let action = form.getAttribute('action')
    let click = document.getElementById('total').textContent
    totalclicks = 0 
    let divcircle = document.getElementsByClassName('circle')[0]
    
    function clickUp() {
        if (totalclicks == 1) return 
        click++
        totalclicks++
        totaler += 1
        let total = document.getElementById('total')
        total.innerHTML = click
        

    }
 

    function clickDown() {
        if (totalclicks == -1) return 
        totalclicks -= 1
        click -= 1
        totaler += 1
        let total = document.getElementById('total')
        total.innerHTML = click

    }

    function setValueInput(input_id) {
        document.getElementById(input_id).setAttribute('value', click)
    }
    
    let total = document.getElementById('total').textContent
        
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    
    setInterval(() => {setValueInput('clickv')}, 100)

   $('#up').on('click', function() {
        $.ajax(
           {
               type:'POST', 
               url: action, 
               headers: { "X-CSRFToken": getCookie("csrftoken") },
               data: {
                   click_count:click, 
               }, 
               success: function(response) {
                   console.log('It worked.')
               }, error: function(json) {
                      if (json.statusText == 'Unauthorized'){
                          window.location.href = "{% url 'login' %}"
                      }
                    }
           }
       )
       
function slowUp() {
      $.ajax(
           {
               type:'GET',
               url: action,
               data: {
                  'vote_count': total 
               }, 
               async:true,
               timeout: 2000,
               success: function(data) {
                
                   document.getElementById('total').textContent = data['vote']
               }, error: function(xhr, textStatus) {
                   console.log('error')
               }
           }
       )}
       setTimeout(slowUp, 100)

       
     })

    $('#down').on('click', function() {
        $.ajax(
           {
               type:'POST', 
               url: action, 
               headers: { "X-CSRFToken": getCookie("csrftoken") },
               data: {
                   click_count:click, 
                   
               }, 
               success: function(response) {
                   console.log('It worked.')
               }, error: function(json) {
                      if (json.statusText == 'Unauthorized'){
                          window.location.href = "{% url 'login' %}"
                      }
               }
           }
       )
    function slowDown() {
        $.ajax(
           {
               type:'GET',
               url: action,
               data: {
                  'vote_count': total 
               }, 
               timeout: 2000,
               async: true, 
               success: function(data) {
                
                   document.getElementById('total').textContent = data['vote']
               }, error: function(xhr, textStatus) {
                   console.log('error')
               }
           }
       )
    } 
    setTimeout(slowDown, 100)
    })
    
    
   $('#comments').on('submit', function(e) {
    let ctext = $('textarea#section').val();
    
    let commentsection = document.getElementById('commentsection')
        
        e.preventDefault()
        if (ctext.trim() == '') return
        console.log('default prevented')
        $.ajax(
           {
               type:'POST', 
               method:'POST',
               url: commentaction, 
               headers: { "X-CSRFToken": getCookie("csrftoken") },
               data: {
                    'comment': ctext
               }, 
               
               success: function(response) {
                   console.log('It worked.')
               }, error: function(json) {
                      if (json.statusText == 'Unauthorized'){
                          window.location.href = "{% url 'login' %}"
                      }
           }}
       )
    function slowHorses() {
       $.ajax(
        
           {
               type:'GET', 
               url: commentaction,  
               timeout: 2000,
               async: true,
               success: function(data) {
                let headdiv = document.createElement('DIV')
                let textdiv = document.createElement('DIV')
                headdiv.innerHTML = `<p><span>${data['user']}</span>: ${data['latest'].comment}</p>`
                headdiv.classList.add('commenthead')
                    commentsection.appendChild(headdiv)
               }, error: function(shr, textStatus) {
                   console.log('Get No Show')
               }
           }
       )
    }
    setTimeout(slowHorses, 300)
    function eraser() {
    document.getElementById('section').value = ''
    }
   setTimeout(eraser, 100)
   })
   let showcomments = document.querySelector('input#showcom')
   function changeText() {
    showcomments.setAttribute('value', 'Hide Comments')
   }
   let ii = 0
   let c = 0 
   $('input#showcom').on('click', function() {
        commenter.hidden = false
        tx[0].style.height = '27px'
        changeText()
        console.log(ii)
        if (ii == 1) {
            commenter.hidden = true
            showcomments.setAttribute('value', 'Show Comments')
            ii = 0
            return false
            
        }
        if (c < 1) {
        $.ajax(
           {
               type:'GET', 
               url: "{% url 'comments' product.id%}",  
               timeout: 2000,
               async: true,
               success: function(response) {
                   for (let obj of response) {
                let headdiv = document.createElement('DIV')
                headdiv.innerHTML = `<p><span>${obj.username}</span>: ${obj.comment}</p>`
                headdiv.classList.add('commenthead')
                    commentsection.appendChild(headdiv)
                   }
               }, error: function(shr, textStatus) {
                   console.log('Get No Show')
               }
           }
       )
        }
       ii += 1
       c += 1
   }
   )
   
   
</script>
{% endblock %}